// addNewShop.scss

.add-shop-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 500px;

  .form-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .textfield {
    width: 100%;
    // margin-right: 8px; // Add margin to create space between text fields
  }

  .buttonfield {
    margin-top: 16px;
  }

  .grid {
    margin-bottom: 16px;
  }

  .grid-item {
    display: flex;
    gap: 8px; // Adjust the gap as needed
  }
 
}
